@use 'vars';

.body-modal-open {
  overflow: hidden;
  padding-right: 1.5rem;
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  &_show {
    //transform: none;
    display: block;
  }
  &__children {
  }
  &__backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    &_show {
      display: block;
      opacity: 0.4;
      transition: opacity 0.15s linear;
    }
  }
  &__dialog {
    position: relative;
    //display: none;
    width: 32%;
    margin: 0.5rem auto;
    z-index: 1100;
    top: 0;
    background-color: vars.$white;
    // transition: transform 1s ease-out;
    // transform: translate(0, 4rem);
    border: 0.1rem solid vars.$white;
    border-radius: 0.5rem;
    &_show {
      //display: block;
      top: 4rem;
      //transition: top 1s ease-out;
      //@at-root: translate(0, 4rem);
      animation: 1s ease opacity, 0.3s ease transition;
    }
  }
  &__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  &__title {
    align-items: center;
    padding: 1rem 0;
    & h4 {
      //margin-bottom: 0;
      margin: auto 0;
      line-height: 1.5;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transition {
  from {
    top: 0;
  }
  to {
    top: 4rem;
  }
}

.oak-modal-open .oak-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// @media (min-width: 576px) {
//   .oak-modal-dialog {
//     max-width: 500px;
//     margin: 1.75rem auto;
//   }
// }

.oak-modal-content {
  position: relative;
  display: flex;
  //z-index: 1050;
  //display: none;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
